* {
  word-break: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #001e1d;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$todo-itemh: 42px;
$todo-itemmt: 10px;
$border: 1px solid #001e1d;

ul,
ol {
  list-style: none;
}
button,
input {
  outline: none;
}
.page {
  background-color: #abd1c6;
  height: 640px;
  .todo-list {
    max-width: 650px;
    width: 94%;
    margin: auto;
    padding: 30px 0;
    .todo-form {
      @extend %flex-center;
      .add-input {
        height: 30px;
        width: 60%;
        max-width: 400px;
        border: $border;
        padding: 0 8px;
        background-color: #fffffe;
      }
      .add-btn {
        background-color: #0f3433;
        border: $border;
        color: #fffffe;
        width: 50px;
        height: 30px;
      }
    }
    .todo-display {
      height: calc(#{$todo-itemh}* 10 + #{$todo-itemmt}* 10);
      li {
        @extend %flex-center;
        width: 100%;
        height: $todo-itemh;
        margin: #{$todo-itemmt} auto 0;
        background-color: #e3f6f5;
        border: $border;
        padding: 10px;
        line-height: 1;
        .display-input {
          width: calc(100% - 90px);
          .edit-input {
            border: $border;
            width: 100%;
            padding: 0 8px;
            background-color: #fffffe;
          }
          .date {
            text-align: right;
          }
        }
        .display-btn {
          margin-left: 5%;
          width: 90px;
          .btn {
            border: $border;
          }
          .edit {
            background-color: #f9bc60;
            width: 50px;
            height: 30px;
          }
          .delete {
            background-color: #e16162;
            width: 30px;
            height: 30px;
            margin-left: 5px;
          }
        }
      }
    }
    li.none {
      display: none;
    }
    .pagenation {
      @extend %flex-center;

      .pagenation-list {
        display: flex;
      }
      .pagenation-item {
        @extend %flex-center;
        width: 30px;
        height: 30px;
        border: $border;
        border-left: none;
        background: #e3f6f5;
      }
      .pagenation-item:hover{
        background-color: #0f3433;
        color:#fffffe;
        opacity:0.7;
      }
      .active{
        background-color: #0f3433;
        color:#fffffe;
      }
      .pagenation-prev {
        border: $border;
      }
    }
  }
}
